.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.header_menu {
  display: flex;
  justify-content: center;
  margin-left: 40px;
}


