.cart_content {
    display: flex;
    flex-direction: column;
}
.propduct_item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;

    padding: 25px 0;
}
.propduct_item:first-child {
    padding-top: 0;
}
.propduct_item::after {
    position: absolute;
    width: 100%;
    bottom: 0;
    content: "";

    opacity: 0.5;
    border-bottom: 2px solid #f0b643;
}
.remove_product {
    position: absolute;
    right: 0;
    width: 23px;
    height: 19px;
    cursor: pointer;
}
.product_img {
    position: relative;
    padding-right: 25px;
}
.product_img::after {
    position: absolute;
    content: "";
    height: 100%;
    right: 0;
    top: 0;

    opacity: 0.5;
    border-right: 2px solid #f0b643;
}
.product_img img {
    max-width: 305px;
    max-height: 300px;
}
.product_characteristics {
    text-align: left;
    width: 100%;
}
.product_characteristics th {
    padding-bottom: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
}
td .product_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
}
td .product_vendor_code {
    font-size: 16px;
    line-height: 20px;

    margin-top: 10px;
}
td .product_size,
td .product_color {
    max-width: 51px;
    max-height: 24px;

    border: 1px solid #3e3e3e;
    border-radius: 5px;

    text-align: center;
}
td .product_size {
    padding: 2px 16px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
td .product_color {
    padding: 2px 13px;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
}

.number_of_product {
    display: flex;
    gap: 10px;
    align-items: center;
}
.number_product {
    font-size: 16px;
    line-height: 20px;
    padding: 2px 8px;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    text-align: center;
}
.reduce_number_product,
.add_number_product {
    max-width: 17px;
    cursor: pointer;
}
.product_coin {
    display: block;
    width: max-content;

    font-weight: 600;
    font-size: 40px;
    line-height: 58px;

    text-transform: capitalize;
}
/* card_coin */
.card_coin {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.card_coin_value {
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;

    text-transform: uppercase;
}
.card_coin_currency {
    margin-left: 15px;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 29px;
}