.content_wrapper {
	padding-bottom: 40px !important;
}
.thanks_wrapper:first-child {
	margin: 0 auto !important;
}

.thanks {
	display: flex;
    justify-content: center;
    align-items: center;

	position: relative;
	background-image: url(../img/thanks.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	height: 805px;
}

.thanks::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(38, 38, 38, 0.6);
}
.thanks_box {
	position: absolute;

	/* top: 55%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); */

	color: #fff;
	border: 6px solid #f0b643;
	border-radius: 5px;
}
.thanks_content {
	padding: 50px 15px;
	text-align: center;
}
.thanks_title {
	font-size: 60px;
	line-height: 87px;
}
.thanks_order {
	font-size: 40px;
	line-height: 58px;

	margin: 6px 0;
}
.thanks_discription {
	max-width: 434px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 29px;
}
/* thanks_buttons */
.thanks_buttons {
	margin: 100px auto 0;
	max-width: 385px;
}
.thanks_buttons button {
	text-transform: uppercase;
	padding: 20px 50px;
	border-radius: 5px;

	width: 100%;
	transition: all 0.3s;
}
.btn_continue_shop {
	background: #f0b643;
	margin-bottom: 25px;
}
.btn_continue_shop:active {
    color: #f0b643;
    background: #3e3e3e;
}
.btn_my_orders {
	border: 3px solid #fff;
}
.btn_my_orders:active {
    color: #3e3e3e;
    background: #fff;
}