* {
    box-sizing: border-box;

    outline: none;

    margin: 0;

    padding: 0;
}
body {
    color: #3e3e3e;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: normal;

    /* -ms-overflow-style: none; /* ie 10+ */

    /* overflow: -moz-scrollbars-none; фф (свойство больше не работает, других способов тоже нет) */
}
/* убрать спрокрутку справа */
/* body::-webkit-scrollbar {
    width: 0px;
} */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #fdfbf9;
}

body::-webkit-scrollbar-thumb {
    background-color: #f0b643;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    padding: 0;
    margin: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
button {
    display: inherit;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: block;
}
/* section */

.section {
    margin: 0 80px;
    margin-bottom: 55px;
}
section:last-child {
    margin-bottom: 0;
}

/* content_wrapper */

.content_wrapper {
    display: block;
    margin: 0px auto;
    background-color: #fff;
    padding: 170px 0 90px;

    text-align: center;
}
.section_header {
    position: relative;
    text-transform: uppercase;
    text-align: left;
    font-size: 40px;
    line-height: 58px;

    margin-bottom: 40px;
}
.section_header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    min-width: 95px;
    max-width: 95px;
    border-bottom: 9px solid #f0b643;
}
/* item_catalog_header */
.item_catalog_header {
    color: #d7d7d7;

    margin-bottom: 40px;
}
.item_catalog_header::after {
    border: none;
}
.item_catalog_header {
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    text-transform: none;
}
.item_catalog_header .active {
    color: initial;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: opacity linear;
    }
}
